#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#header h1 {
  display: inline-block;
  font-size: 40px;
}

#header h1 .logo-highlight {
  color: #d9dcd6;
}

#header div {
  padding-top: 16px;
  float: right;
  font-size: 20px;
}

#header div ul {
  list-style-type: none;
}

#header div ul li {
  display: inline-block;
  margin-left: 25px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.github:hover {
  filter: drop-shadow(0 0 2em #c91720aa);
}

.logo.linkedin:hover {
  filter: drop-shadow(0 0 2em #10e12fde);
}

.logo.twitter:hover {
  filter: drop-shadow(0 0 2em #897d13aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
